@import "tailwindcss";

@theme {
  --font-jetbrains-mono: var(--font-jetbrains-mono);
  --font-poppins: var(--font-poppins);
}

.font-jetbrainsMono {
  font-family: var(--font-jetbrains-mono), monospace;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-family: var(--font-poppins), sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.025em;
  margin-bottom: 5rem;
}

.article > h1 {
  font-family: var(--font-jetbrains-mono), monospace;
  font-size: 2.25rem;
  text-align: center;
  letter-spacing: -0.025em;
  font-weight: 600;
}

.article > h2 {
  font-family: var(--font-jetbrains-mono), monospace;
  font-size: 1.875rem;
  letter-spacing: -0.025em;
  margin-top: 1rem;
  font-weight: 500;
}

.article > ol {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  gap: 0.5rem;
}

.article > ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  gap: 0.5rem;
}

.article > pre {
  background-color: #0a0a0a;
  color: #fafafa;
  padding: 1.25rem;
  overflow: scroll;
  border-radius: 0.5rem;
}

.article > blockquote {
  padding-left: 1.25rem;
  font-style: italic;
  border-left: 2px solid rgba(82, 82, 82, 0.4);
}

.article > p > img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.article > p > code {
  background-color: #e5e5e5;
  padding: 0.125rem 0.375rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}
